<h1>Favourite Language Finder, </h1>
</br>

<h2>Please enter a country: </h2>
<form action="/result" method="post">
  <label for="country">
    <input type="text" name="country">
  </label>
  <input type="submit" value="Find country!" />
</form>
